AppData/Local/D3DSCache/
ntuser.dat.LOG2
ntuser.dat.LOG1
AppData/Local/D3DSCache/
AppData/Local/D3DSCache/
AppData/Local/D3DSCache/
.gitconfig/
NTUSER.DAT
PycharmProjects/
 Searches/n Videos/
Videos/
ntuser.ini
Searches/
Links\/nusic/
Links/nmusic/
Links//nmusic/
Links/
Music/
NTUSER.DAT{e6f6bc1b-e06f-11ee-af11-a0b339609432}.TM.blf
NTUSER.DAT{e6f6bc1b-e06f-11ee-af11-a0b339609432}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{e6f6bc1b-e06f-11ee-af11-a0b339609432}.TMContainer00000000000000000002.regtrans-ms
.aws/
.gitconfig
.redhat/
.ssh
.vscode
AppData/
Contacts/
.lesshst
Downloads/
Favorites/
Saved Games/
source/
OneDrive/
Vivek-s-Gaming-Application/
